a {
  color: #06c;
}
img {
  max-width: 100%;
}

.fifth-heghlight-wrapper .left-side-wrapper .left-side-container {
  background-image: url("../commonResource/images/home/actors.jpg");
  background-color: #000;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
}
.fifth-heghlight-wrapper .description-wraper {
  max-width: 450px;
  margin: 7px auto;
}
.watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
  color: #fff;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
.tvshow-logo-wraper {
  padding: 340px 0 0px;
}
.left-side-container {
  min-height: 515px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .fifth-heghlight-wrapper .left-side-wrapper .left-side-container {
    margin: 5px 5px 5px 10px;
  }
}
