li{
    text-decoration: none;
    list-style: none;
    // #book-shell-wrapper{
    //     display: flex;
    //     // justify-content: space-between;
    //     flex-wrap: wrap;
    //     text-align: center;
    //     flex-basis: auto
  
    // }
    img{
        width: 200px;
        height: 400px;
        vertical-align: middle;
        float:left;
        padding: 10px;
    }
    span{
        font-weight: bold;
    }
}