
li{
    text-decoration: none;
    list-style: none;
    img{
        width: 200px;
        height: 400px;
        vertical-align: middle;
        float:left;
        padding: 10px;
    }
    span{
        font-weight: bold;
    }
}