.links-wrapper {
  padding: 0 0;
}
.links-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-wrapper li {
  display: inline-block;
}
.links-wrapper ul li a {
  color: black !important;
  text-decoration: none;
  font-size: 21px;
}
.links-wrapper ul li a:hover {
  color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
  padding-right: 10px;
}
