a {
  color: #06c;
}
img {
  max-width: 100%;
}
.right-side-container {
  min-height: 515px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}
.fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../commonResource/images/home/watch.jpg");
  background-color: #fbfbfd;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: auto;
}
.fifth-heghlight-wrapper .description-wraper {
  max-width: 450px;
  margin: 7px auto;
}
.links-wrapper ul {
  list-style: none;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
  font-size: 21px;
}
.links-wrapper ul li a:hover {
  color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.links-wrapper.white li a {
  color: #fff;
}
@media (min-width: 768px) {
  .fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
    margin: 5px 10px 5px 5px;
  }
}
